// =============================================
// Colors
// =============================================

$orchidwhite: #F4EDDA;
$linkwater: #FFD65A;
$pottersclay: #86573A;

// =============================================
// Typography
// =============================================

$onyx: #15110E;
